apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-iris-synchronous
  labels:
    app: api-iris-synchronous
  namespace: serving-pattern
spec:
  selector:
    matchLabels:
      app: api-iris-synchronous
  replicas: 1
  template:
    metadata:
      labels:
        app: api-iris-synchronous
      name: api-iris-synchronous
    spec:
      containers:
      - name: api-iris-synchronous
        image: gcr.io/newagent-16e99/github.com/shibuiwilliam/ml-system-in-action/serving_patterns_api_iris:latest
        command: ["./run_api.sh"]
        env:
        - name: PLATFORM
          value: kubernetes
        - name: CACHE_HOST
          value: redis.serving-pattern.svc.cluster.local
        - name: MODEL_INTERFACE
          value: iris_svc_onnx_runtime.yaml
        - name: GUNICORN_UVICORN
          value: GUNICORN
        - name: WORKERS
          value: "4"
        - name: APP_NAME
          value: "app.apps.app_synchronous"
        - name: PORT
          value: "8889"
        - name: PROFILE
          value: "0"
        ports:
        - containerPort: 8889

---

apiVersion: v1
kind: Service
metadata:
  name: api-iris-synchronous
  labels:
    app: api-iris-synchronous
  namespace: serving-pattern
spec:
  ports:
  - port: 8889
    protocol: TCP
  selector:
    app: api-iris-synchronous
