version: '3'

services:
  proxy_ms_h:
    container_name: serving_patterns_proxy_ms_h
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile_proxy
    environment:
      - GUNICORN_UVICORN=GUNICORN
      - WORKERS=2
      - APP_NAME=src.api_composition_proxy.apps.proxy:app
      - PORT=8000
      - PROFILE=0
      - SERVICE_RESNET50=ms_horizontal_resnet50_api:8891
      - SERVICE_MOBILENETV2=ms_horizontal_mobilenetv2_api:8893
      - QUEUE_NAME=api_queue
    ports:
      - "8000:8000"
    command: ./run_proxy.sh

  api_resnet50_ms_h:
    container_name: serving_patterns_api_resnet50_ms_h
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile_api_resnet50
    environment:
      - PLATFORM=docker_compose
      - MODEL_INTERFACE=resnet50.yaml
      - GUNICORN_UVICORN=GUNICORN
      - WORKERS=4
      - APP_NAME=src.app.apps.app_image:app
      - PORT=8891
      - PROFILE=0
      - QUEUE_NAME=resnet50_queue
    ports:
      - "8891:8891"
    command: ./run_api.sh
    volumes:
      - shared_volume:/shared_volume
    depends_on:
      - backend_resnet50_ms_h
      - redis

  backend_resnet50_ms_h:
    container_name: serving_patterns_backend_resnet50_ms_h
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile_backend_resnet50
    environment:
      - PLATFORM=docker_compose
      - MODEL_INTERFACE=resnet50.yaml
      - NUM_PROCS=4
      - BATCH_CODE=src.app.backend.prediction_batch
      - PROFILE=0
      - PREDICTOR=src.app.api._predict_image
      - QUEUE_NAME=resnet50_queue
    command: ./run_backend.sh
    volumes:
      - shared_volume:/shared_volume
    depends_on:
      - redis

  api_mobilenetv2_ms_h:
    container_name: serving_patterns_api_mobilenetv2_ms_h
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile_api_mobilenetv2
    environment:
      - PLATFORM=docker_compose
      - MODEL_INTERFACE=mobilenetv2.yaml
      - GUNICORN_UVICORN=GUNICORN
      - WORKERS=4
      - APP_NAME=src.app.apps.app_image:app
      - PORT=8893
      - TFS_GRPC=ms_horizontal_mobilenetv2_tfs:8510
      - PROFILE=0
      - QUEUE_NAME=mobilenetv2_queue
    ports:
      - "8893:8893"
    command: ./run_api.sh
    volumes:
      - shared_volume:/shared_volume
    depends_on:
      - redis
      - tfs_mobilenetv2_ms_h
      - backend_mobilenetv2_ms_h

  tfs_mobilenetv2_ms_h:
    container_name: serving_patterns_tfs_mobilenetv2_ms_h
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile_tfserving_mobilenetv2
    environment:
      - PORT=8510
      - REST_API_PORT=8511
      - MODEL_NAME=mobilenetv2
      - MODEL_BASE_PATH=/models/mobilenetv2
    ports:
      - "8510:8510"
      - "8511:8511"
    entrypoint: ["/usr/bin/tf_serving_entrypoint.sh"]

  backend_mobilenetv2_ms_h:
    container_name: serving_patterns_backend_mobilenetv2_ms_h
    build:
      context: ..
      dockerfile: dockerfiles/Dockerfile_backend_mobilenetv2
    environment:
      - PLATFORM=docker_compose
      - MODEL_INTERFACE=mobilenetv2.yaml
      - NUM_PROCS=4
      - BATCH_CODE=src.app.backend.prediction_batch
      - TFS_GRPC=ms_horizontal_mobilenetv2_tfs:8510
      - PROFILE=0
      - PREDICTOR=src.app.api._predict_image
      - QUEUE_NAME=mobilenetv2_queue
    command: ./run_backend.sh
    volumes:
      - shared_volume:/shared_volume
    depends_on:
      - redis

  redis:
    container_name: serving_patterns_redis
    image: "redis:latest"
    ports:
      - "6379:6379"

volumes:
  shared_volume:
    driver_opts:
      type: none
      device: /tmp
      o: bind
